@using EntityLayer.Concrete
@model List<Bookcase>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<h1>Index</h1>

<h2>Bookcase Index</h2>

<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Author</th>
            <th>Tour</th>
            <th>Publishing House</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var book in Model)
        {
            <tr>
                <td>@book.BookID</td>
                <td>@book.BookNane</td>
                <td>@book.Bookauthor</td>
                <td>@book.BookTour</td>
                <td>@book.BookPublishingHouse</td>
            </tr>
        }
    </tbody>
</table>